.starship-details {
  display: flex;
  flex-direction: row;
  padding: 1rem;
}

.starship-details img {
  max-width: 100%;
  border-radius: 10px;
}

.starship-details .starship-image {
  width: 30%;
  height: 30%;
  border-radius: 10px;
}

.starship-details .list-group-item {
  padding: .25rem;
}

.starship-details .list-group-item .term{
  margin-right: .5rem;
}