.planet-details {
  display: flex;
  flex-direction: row;
  padding: 1rem;
}

.planet-details img {
  max-width: 100%;
  border-radius: 10px;
}

.planet-details .planet-image {
  width: 175px;
  height: 175px;
  border-radius: 10px;
}

.planet-details .list-group-item {
  padding: .25rem;
}

.planet-details .list-group-item .term{
  margin-right: .5rem;
}